<!-- ngModel - DataBinding to variables -->
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <label>Username</label><br />
  <input type="text" name=username ngModel><br />
  <label type="text">Password</label><br />
  <input type="text" name=password ngModel><br />
  <button type="submit" class="btn btn-primary">Submit</button><br />
</form>

<!-- ngModel - DataBind to model class object variables -->
<form (ngSubmit)="onSubmit1(myForm1)" #myForm1="ngForm">
  <label>Username</label><br />
  <input type="text" name="username1" [(ngModel)]="userO.usr"><br />
  <label type="text">Password</label><br />
  <input type="text" name="password1" [(ngModel)]="userO.pwd"><br />
  <button type="submit" class="btn btn-primary">Submit</button><br />
</form>